```dataview
TASK
WHERE !tasktype
GROUP BY link
```